# dependencies
node_modules
.venv
__pycache__/
*.pyc

# secrets
.env
backend/.env
frontend/.env

# uploads
backend/uploads/

# logs
*.log

# build artifacts
frontend/build/
frontend/dist/

# editor
.idea/
.vscode/
.DS_Store
frontend/node_modules/.cache/default-development/5.pack
frontend/node_modules/.cache/default-development/6.pack
.env.*
*.env
credentials.json
*.pem
*.key
.credentials
